<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.EqListMapper">

    <select id="selectAllEq" resultType="com.ruoyi.system.domain.EqList">
        select * from eqlist
    </select>

    <insert id="addEq">
        insert into eqlist (eqid,position,time,magnitude,longitude,latitude,depth)
        values (#{eqid}, #{position}, #{time}, #{magnitude}, #{longitude}, #{latitude},#{depth})
    </insert>

    <delete id="deleteEq">
        delete from eqlist where eqid=#{eqid}
    </delete>

    <update id="updataEq" parameterType="com.ruoyi.system.domain.EqList">
        update eqlist
        set position = #{position}, time = #{time}, magnitude = #{magnitude}, longitude = #{longitude}, latitude = #{latitude}, depth = #{depth}
        where eqid = #{eqid}
    </update>
</mapper>