<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SituationPlotMapper">

    <select id="selectPlot" resultType="com.ruoyi.system.domain.SituationPlot">
        select * from situation_plot where eqid = #{eqid}
    </select>

    <insert id="addPlot">
        insert into situation_plot (eqid, timestamp, drawtype, latitude, longitude, drawid, pointtype, pointdescribe, pointname,height,img)
        values (#{eqid}, #{timestamp}, #{drawtype}, #{latitude}, #{longitude}, #{drawid}, #{pointtype}, #{pointdescribe}, #{pointname},#{height},#{img})
    </insert>

    <insert id="addPlotMore">
        insert into situation_plot (eqid, timestamp, drawtype, latitude, longitude, drawid, pointtype, pointdescribe, pointname,height,img)
        values
        <foreach collection="list" item="plot" separator=",">
            (#{plot.eqid}, #{plot.timestamp}, #{plot.drawtype}, #{plot.latitude}, #{plot.longitude}, #{plot.drawid}, #{plot.pointtype}, #{plot.pointdescribe}, #{plot.pointname},#{plot.height},#{plot.img})
        </foreach>
    </insert>

    <delete id="deletePlot">
        delete from situation_plot where drawid=#{id}
    </delete>

    <insert id="addPlotIcon">
        insert into plot_icon_management (id,name,describe,type,plottype,img)
        values (#{id}, #{name}, #{describe}, #{type}, #{plotType}, #{img})
    </insert>

    <delete id="deletePlotIcon">
        delete from plot_icon_management where id=#{id}
    </delete>

    <update id="updataPlotIcon" parameterType="com.ruoyi.system.domain.PlotIconManagement">
        update plot_icon_management
        set name = #{name}, describe = #{describe}, type = #{type}, plottype = #{plotType}, img = #{img}, id = #{id}
        where id = #{id}
    </update>

    <select id="selectPlotIcon" resultType="com.ruoyi.system.domain.PlotIconManagement">
        select * from plot_icon_management
    </select>
</mapper>


