<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.SituationPlotMapper">

    <select id="selectPlot" resultType="com.ruoyi.system.domain.SituationPlot">
        select * from situation_plot where eqid = #{eqid}
    </select>

    <insert id="addPlot">
        insert into situation_plot (eqid, timestamp, drawtype, latitude, longitude, drawid, pointtype, pointdescribe, pointname,height,img)
        values (#{eqid}, #{timestamp}, #{drawtype}, #{latitude}, #{longitude}, #{drawid}, #{pointtype}, #{pointdescribe}, #{pointname},#{height},#{img})
    </insert>

    <insert id="addPlotMore">
        insert into situation_plot (eqid, timestamp, drawtype, latitude, longitude, drawid, pointtype, pointdescribe, pointname,height,img)
        values
        <foreach collection="list" item="plot" separator=",">
            (#{plot.eqid}, #{plot.timestamp}, #{plot.drawtype}, #{plot.latitude}, #{plot.longitude}, #{plot.drawid}, #{plot.pointtype}, #{plot.pointdescribe}, #{plot.pointname},#{plot.height},#{plot.img})
        </foreach>
    </insert>

<!--    <delete id="deletePlot">-->
<!--        delete from situation_plot where drawid=#{id}-->
<!--    </delete>-->

    <insert id="addPlotIcon">
        insert into yaan_ploticonmanagement (id,name,describe,type,plottype,img)
        values (#{id}, #{name}, #{describe}, #{type}, #{plotType}, #{img})
    </insert>

    <delete id="deletePlotIcon">
        delete from yaan_ploticonmanagement where id=#{id}
    </delete>

    <update id="updataPlotIcon" parameterType="com.ruoyi.system.domain.PlotIconManagement">
        update yaan_ploticonmanagement
        set name = #{name}, describe = #{describe}, type = #{type}, plottype = #{plotType}, img = #{img}, id = #{id}
        where id = #{id}
    </update>

    <select id="selectPlotIcon" resultType="com.ruoyi.system.domain.PlotIconManagement">
        select * from yaan_ploticonmanagement
    </select>

    <insert id="insertPlot">
        insert into yaan_situationplot (eqid,plotid,time,plottype,drawtype,latitude,longitude,height,img)
        values (#{eqid}, #{plotid}, #{time}, #{plottype}, #{drawtype}, #{latitude},#{longitude},#{height},#{img})
    </insert>

    <insert id="insertPlotInfo">
        insert into yaan_situationplotinfo (plotid, starttime, endtime, info, id)
        values (#{plotid}, #{starttime}, #{endtime}, #{info}, #{id})
    </insert>

    <select id="getPlot" resultType="com.ruoyi.system.domain.YaanSituationPlot">
        select * from yaan_situationplot where eqid=#{eqid}
    </select>

    <select id="getPlotInfos" resultType="com.ruoyi.system.domain.YaanSituationPlotInfo">
        select * from yaan_situationplotinfo where plotid = #{plotid} ORDER BY starttime ASC
    </select>

    <delete id="deletePlot">
        delete from yaan_situationplot where plotid=#{plotid}
    </delete>

    <delete id="deletePlotInfo">
        delete from yaan_situationplotinfo where plotid=#{plotid}
    </delete>

    <delete id="deletePlotInfoById">
        delete from yaan_situationplotinfo where id=#{id}
    </delete>

    <update id="updataPlotInfo" parameterType="com.ruoyi.system.domain.YaanSituationPlotInfo">
        update yaan_situationplotinfo
        set starttime = #{starttime}, endtime = #{endtime}, info = #{info}
        where id = #{id}
    </update>
</mapper>


